@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background: url('image/background7.png') no-repeat center center/cover;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.page-header {
    position: relative;
    z-index: 3;
    padding: 145px 55px 0;
    display: flex;
    align-items: center;
    gap: 55px;
    margin-top: -50px;
}

.page-header img{
    width: 100px;
}


.h1{
    color: white;
}
.h1 span{
    color: #7435ee;
}


.back-button {
    width: 75px;
    height: 75px;
    border: 1px solid rgba(255, 255, 255, .25);

    border-radius: 50%;

    background: rgba(53, 32, 112, .8);

    color: white;

    font-size: 40px;

    cursor: pointer;

    transition: .3s ease;
}


.back-button:hover {
    background: #7435ee;
}


.logo {
    width: 250px;

    max-width: 65%;
}


.forgot-content {
    position: relative;

    z-index: 2;

    padding: 65px 55px 40px;
}


.forgot-content h1 {
    font-size: 48px;
    color: white;
    line-height: 1.1;
    font-weight: 600;
}


.forgot-content h1 span {
    color: #8b43f4;
}


.description {
    margin-top: 20px;
    color: white;
    font-size: 25px;
    line-height: 1.35;
}


.form-group {
    margin-top: 5px;
}


.form-group label {
    display: block;
    color: white;
    margin-top: 70px;
    font-size: 28px;
}


.input-box {
    height: 72px;

    display: flex;

    align-items: center;

    gap: 18px;

    padding: 0 28px;

    border: 2px solid rgba(255, 255, 255, .85);

    border-radius: 28px;

    background: rgba(12, 0, 65, .45);
}


.input-icon {
    font-size: 32px;
}


.input-box input {
    width: 100%;

    border: none;

    outline: none;

    background: transparent;

    color: white;

    font-size: 27px;
}

.input-box span{
    color: white;
}


.input-box input::placeholder {
    color: white;

    opacity: .95;
}


.continue-btn {
    width: 100%;

    height: 75px;

    margin-top: 45px;

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 150px;

    border: none;

    border-radius: 16px;

    background: #7435ee;

    color: white;

    font-size: 28px;

    cursor: pointer;

    transition: .3s ease;
}


.continue-btn:hover {
    background: #8d4cff;

    transform: translateY(-2px);
}


.arrow {
    font-size: 38px;
}



.login-link {
    margin: 65px auto 0;

    display: flex;

    align-items: center;

    gap: 25px;

    border: none;

    background: transparent;

    color: white;

    font-size: 24px;

    cursor: pointer;
}


.login-link span:first-child {
    font-size: 42px;

    line-height: 0;
}


.login-link:hover {
    color: #8b43f4;
}


@media (max-width: 600px) {

    .page-header {
        padding: 105px 28px 0;

        gap: 25px;
    }


    .back-button {
        width: 55px;
        height: 55px;

        font-size: 30px;
    }


    .logo {
        width: 200px;
    }


    .forgot-content {
        padding: 45px 28px 30px;
    }


    .forgot-content h1 {
        font-size: 39px;
    }


    .description {
        font-size: 18px;
    }


    .lock-image {
        height: 330px;

        margin-top: 0;
    }


    .lock-image img {
        width: 320px;
    }


    .form-group label {
        font-size: 23px;
    }


    .input-box {
        height: 62px;

        padding: 0 20px;

        border-radius: 22px;
    }


    .input-icon {
        font-size: 26px;
    }


    .input-box input {
        font-size: 20px;
    }


    .continue-btn {
        height: 62px;

        margin-top: 35px;

        gap: 70px;

        font-size: 21px;
    }


    .arrow {
        font-size: 30px;
    }


    .login-link {
        margin-top: 45px;

        font-size: 18px;
    }
}